
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Test Coverage
/coverage
/.nyc_output

# Production
/build
/out

# Next.js
/.next/
/out/

# VSCode
.vscode/

# Capacitor
/android/
/ios/
/www/
capacitor.config.json # If you were using JSON instead of TS

# Env files
.env
.env*.local

# Misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# Genkit
.genkit-cache/
.genkit-devtools-db.json
